#app {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg");
  background-size: cover;
}
.ttt {
  padding-top: 60px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.ttt-field-wrap {
  width: max-content;
  margin: 0 auto;
}
.ttt-result {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 42, 64, 0.5);
  color: rgba(255, 255, 255, 0.75);
  font-weight: lighter;
  letter-spacing: 1px;
}
.ttt-result__item {
  flex-grow: 1;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.ttt-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}
.ttt-field__item {
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background-color: rgba(16, 42, 64, 0.75);
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
.ttt-field__item--win {
  background-color: rgba(65, 173, 221, 0.65);
  font-weight: bold;
}
