.ttt-nav__new-game {
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: center;
  background-color: rgba(65, 173, 221, 0.8);
  font-weight: 400;
}
