.ttt-title {
  text-align: center;
  margin-top: 0;
  font-weight: 400;
}
.ttt-title--win {
  color: #41ADDD;
}
.ttt-title--draw {
  color: #dd4141;
}
.ttt-title__sign {
  font-weight: bold;
  text-transform: uppercase;
}
